
div{
    width: 100px; 
    height: 100px; 
    background-color: red;
}
#d2{
    width: 400px; 
    height: 300px; 
    background-color: green;
    /* margin: 10px; */
    /* margin-top: ; */
    /* margin: 20px 10px; */
    /* margin: 10px 20px 30px 40px; */
    /* padding: 10px;
    padding-left: 10px; */
    /* padding: 20px 10px; */
    /* padding: 10px 20px 30px 40px; */
    position: relative;
    left: 400px;

}
.c1{
    width: 100px; 
    height: 100px; 
    background-color: yellow;
}

#d3{
    width: 150px; 
    height: 150px; 
    background-color: red;
    position: absolute;
    left: 125px;
    top: 75px;
    border-radius: 100%;
}